<h1>  Game:  <%=@game.name%> </h1>
<br>
<h2>Date: <%=@game.gamedate%>  </h2>


<br>
<h3>  <a href="/users/<%=@user.id%>">Back to your Homepage</a> </h3>
<br>

<%@game.turns.each do |turn|%>
<h2>  Turn Number: <%=turn.id%> Roll Result: <%=turn.result%>  </h2>

<%end%> 


