<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
      <p>Welcome to the Sinatra Template! If you're seeing this page, then everything is working
      as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
      your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a>.</p>

      <h2>

 <a href="/signup">Sign Up</a>
 <br><br>
  <a href="/login">Log In</a>

  </h2>


    <h2> Here is a test list of your users:</h2>
    <%@users.each do |user|%>
    <h3>  <a href="/users/<%=user.id%>">  <%=user.name%>  </a> </h3>

<%end%> 


<h1> Here is a list of all Games <h1>
<%@games.each do |game|%>
<h2>  <a href="/games/<%=game.id%>">  <%=game.name%> Date: <%=game.gamedate%>  </a> </h2>

<%end%> 

<h1> Here are some Game Stats <h1>

<h2>  Total Games Played:  <%=@games.count%>  </h2>
<h2>  Total Turns Played:  <%=@turns.count(:result)%>  </h2>


<h2>  Average Turns in a Game:  Coming Soon! </h2>

<%x = Turn.all.group(:result).count%>

<h2>  Most Common Roll Result: <%=x.sort_by{|k, v| -v}.first[0]%> (<%=x.sort_by{|k, v| -v}.first[1]%> out of <%=Turn.all.count%> rolls)</h2>



<%@games.each do |game|%>
<%end%> 

    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
